@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.fonts {
  --font-family: Kumbh Sans;
  --paragraph-size: 16px;
  --heading-size: 44px;
  --price-size__main: 28px;
  --price-size__sub: 16px;
}
